.signup_new_main
  %h2.signup_new_message Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    %div
      = f.submit "Send me reset password instructions",class:"signup_actions"
  = render "devise/shared/links"
