.categories
  %ul
    %li
      = link_to "#", class: "category__search search__btn" do
        %i.category__icon
        カテゴリーから探す
        -# =@category_parent
      %ul.category__parent.category__list
        - @parents.each do |parent|
          -# @paramsという配列をeach分で一つずつ表示して埋め込んでいます。  
          %li
            = link_to parent_category_path(parent.id), class: "category__parent--name" do
              = parent.name
            %ul.category__child.category__list
              - parent.children.each do |child|
                -# ancestryを入れると使用することのできるchidlenメソッドを使用して子要素を取得しeachメソッドで一つずつ表示します
                %li
                  = link_to child_category_path(child.id), class: "category__child--name" do
                    = child.name
                  %ul.category__grandchild.category__list
                    - child.children.each do |grandchild|
                      -# ここも先ほどと一緒です
                      %li
                        = link_to grandchild_category_path(grandchild.id), class: " category__child--name" do
                          = grandchild.name 