.Item
  .Item__box
    .Item__box__field
      .Item__box__field__title
        .title 出品画像
        .title.require 必須
      %div
        .Item__box__filed__numbers 最大10枚までアップロードできます
      %div
      .Item__box__field__picture
      = form_with model: @item do |f|
        - if @item.errors.any?
          .Item__box__errors
            %ul
              - @item.errors.full_messages_for(:item_image).each do |message|
                %li= message
        .Item__box__field__picture__preview
          %div#image-box
            %div#previews
              - if @item.persisted?
                - @item.item_images.each_with_index do |item_image, i|
                  %div.image-box
                    = image_tag item_image.src.url, data: { index: i }, width: "112", height: '112'
                .outer-frame
                  .inner-frame
                    .js-edit 編集
                    .js-remove 削除
              - if @item.persisted?
                %label.item_image{for: "item_item_images_attributes_#{@item.item_images.length}_src"}
                  %i.fa.fa-camera
              - else
                %label.item_image{for: "item_item_images_attributes_#{@item.item_images.length-1}_src"}
                  %i.fa.fa-camera
            = f.fields_for :item_images do |item_image| 
              %div{"data-index": item_image.index, class: 'js-file_group'}
                = item_image.file_field :src, class: 'js-file'
              - if @item.persisted?
                = item_image.check_box :_destroy, data:{ index: item_image.index }, class: 'hidden-destory'
              - if @item.persisted?
                %div{"data-index": @item.item_images.count, class: 'js-file_group'}
                  = file_field_tag :"item_item_images_attributes_#{@item.item_images.length}_src", name: "item[item_images_attributes][#{@item.item_images.count}][src]", class: 'js-file'

        .Item__box__field__name
          .Item__box__field__name__outer
            .Item__box__field__title
              .title 商品名
              .title.require 必須
            .Item__box__field__name__lower
              = f.text_field :name, class: 'Form__name', placeholder: '40文字まで'
              %ul
                - @item.errors.full_messages_for(:name).each do |message|
                  %li.alert= message
        .Item__box__field__explain
          .Item__box__field__explain__outer
            .Item__box__field__title
              .title 商品の説明
              .title.require 必須
            .Item__box__field__explain__lower
              = f.text_area :introduction, class: 'Form__introduction', placeholder: '商品の説明 (必須 1,000文字以内)'
              %ul
                - @item.errors.full_messages_for(:introduction).each do |message|
                  %li.alert= message
                %span
        .Item__box__field__detail
          .Item__box__field__detail__outer
            .title 商品の詳細
          .Item__box__field__title
            .title カテゴリー
            .title.require 必須
          .Item__box__field__detail__lower
            .append__category
              .category
                =f.collection_select :category_id, @parents, :id, :name,{selected:@parent,include_blank: "選択してください",id: "item_category_id"},class:"serect_field",id: "item_category_id"
                - if @item[:category_id].present?
                  =f.collection_select :category_id, @children, :id, :name,{selected:@item.category.parent.id,include_blank: "選択してください",id: "item_category_id"},class:"serect_field",id: "item_category_id2"
                  =f.collection_select :category_id, @grandchildren, :id, :name,{selected:@item.category.id,include_blank: "選択してください",id: "item_category_id"},class:"serect_field",id: "item_category_id3"
            .p.arrow__category
              ﹀
            %ul
              - @item.errors.full_messages_for(:category_id).each do |message|
                %li.alert= message
          .Item__box__field__title
            .title サイズ
            .title.require 必須
          .Item__box__field__detail__lower
            = f.collection_select :size_id, Size.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:size_id).each do |message|
                %li.alert= message
          .Item__box__field__title
            .title ブランド
            .title.optional 任意
          .Item__box__field__detail__lower
            = f.text_field :brand_id, class: 'Form__collection', placeholder: '例）シャネル'
            %ul
              - @item.errors.full_messages_for(:brand_id).each do |message|
                %li.alert= message
          .Item__box__field__title
            .title 商品の状態
            .title.require 必須
          .Item__box__field__detail__lower
            = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:item_condition_id).each do |message|
                %li.alert= message

        .Item__box__field__delivery
          .Item__box__field__delivery__outer
            .title 配送について
          .Item__box__field__title
            .title 配送料の負担
            .title.require 必須
          .Item__box__field__delivery__lower
            = f.collection_select :shipping_charge_players_id, ShippingChargePlayers.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:shipping_charge_players_id).each do |message|
                %li.alert= message
          .Item__box__field__title
            .title 発送元の地域
            .title.require 必須
          .Item__box__field__delivery__lower
            = f.collection_select :prefecture_code, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:prefecture_code).each do |message|
                %li.alert= message
          .Item__box__field__title
            .tile 配送までの日数
            .title.require 必須
          .Item__box__field__delivery__lower
            = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:preparation_day_id).each do |message|
                %li.alert= message
          .Item__box__field__title
            .tile 配送方法
            .title.require 必須
          .Item__box__field__delivery__lower  
            = f.collection_select :delivery_type_id, DeliveryType.all, :id, :name, {prompt:"選択してください"}, {class:"Form__collection"}
            = f.hidden_field :seller_id, :value => current_user.id
            .p.arrow
              ﹀
            %ul
              - @item.errors.full_messages_for(:delivery_type_id).each do |message|
                %li.alert= message

        .Item__box__field__price
          .Item__box__field__price__outer
            .title 価格 （¥50〜9,999,999）
          .Item__box__field__title
            .title 販売価格
            .title.require 必須
            .yen ￥
            .Item__box__field__price__lower
            = f.number_field :price, class: 'Form__price', placeholder: '0'
          %ul
            - @item.errors.full_messages_for(:price).each do |message|
              %li.bottom_error= message  
        .Item__box__field__send
          .Item__box__field__send__outer
            - if @item.persisted?
              = f.submit '編集する', class: 'Form__submit'
              .Item__box__field__send__return
                = link_to "もどる", root_path, class:"return"
            - else
              = f.submit '出品する', class: 'Form__submit'
              .Item__box__field__send__return
                = link_to "もどる", root_path, class:"return"