.Upper
  .Upper__icon
    %span.image
      = image_tag 'logo.png', size: '250x100', class: 'image'
.Body
  .Item
    出品画像
    %br 最大10枚までアップロードできます
    = form_for @item do |f| 
      %div{id:"image-box"}
        = f.fields_for :item_images, {} do |i|
          %div{data_index:"item_image_index",class: "js-file_group"}
            = i.file_field :src, class: "js-file"
            %span{class: "js-remove"}
              削除
           
      .Item__name
        商品名
        %br
        = f.text_field :name, class: 'Form__name', placeholder: ''
        %br
        商品の説明
        %br
        = f.text_field :introduction, class: 'Form__introduction', placeholder: '40文字まで'

      .Item__detail
        商品の詳細
        %br
        カテゴリー
        %br
        = f.text_field :category, class: 'Form__category', placeholder: ''
        %br
        ブランド
        %br
        = f.text_field :brand, class: 'Form__brand', placeholder: ''
        %br
        サイズ
        %br
        = f.text_field :size_id, class: 'Form__size', placeholder: ''
        %br
        商品の状態
        %br
        = f.text_field :item_condition_id, class: 'Form__condition', placeholder: ''
        %br

      .Item__delivery
        配送について
        %br
        配送料の負担
        %br
        = f.text_field :shipping_charge_players, class: 'Form__shipping', placeholder: ''
        %br
        配送元の地域
        %br
        = f.text_field :prefecture_code, class: 'Form__prefecture', placeholder: ''
        %br
        配送までの日数
        %br
        = f.number_field :preparation_day, class: 'Form__preparation', placeholder: ''
        %br
        -# 配送状況 仮で追加
        -# %br
        -# = f.text_field :trading_status, class: 'Form__trading', placeholder: ''
        -# %br
        配送方法 仮で追加
        %br
        = f.text_field :delivery_type, class: 'Form__delivery', placeholder: ''
        = f.hidden_field :seller_id, :value => current_user.id
      .Item__price
        価格
        %br
        販売価格
        %br  
        = f.number_field :price, class: 'Form__price', placeholder: ''
        %br
          = f.submit 'Send', class: 'Form__submit'
  
.Bottom
  .Bottom__icon
    %span.image
      = image_tag 'logo.png', size: '250x100', class: 'image'