.main
  .main__pic1
    .main__pic1__content
      .main__pic1__content__title
        人生を変えるフリマアプリ
      .main__pic1__content__message
        FURIMAは誰でも簡単に出品・購入できる
        <br>
        フリマアプリです
      .main__pic1__content__appbtn
        .main__pic1__content__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic1__content__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path
  .main__pic2
    %h2.content
      FURIMAが選ばれる3つの理由
    %ul.reasons
      %li.reason
        .reason__pic
          %span.namber 1
          =link_to image_tag("pict-reason-01.jpg",width:"100%"), root_path
        %h3.text
          %span.message 3分
          ですぐに出品
        %p.Setumei スマホで入力するだけで簡単に出品できる！
      %li.reason
        .reason__pic
          %span.namber 2
          =link_to image_tag("pict-reason-02.jpg",width:"100%"), root_path
        %h3.text
          %span.message シンプル
          で使いやすい
        %p.Setumei めんどくさい入力は必要なく、検索も購入もスムーズ
      %li.reason
        .reason__pic
          %span.namber 3
          =link_to image_tag("pict-reason-03.jpg",width:"100%"), root_path
        %h3.text
          手数料
          %span.message 業界最安
        %p.Setumei 最大3%でお得に出品&購入！
  .main__pic3
    .main__pic3__content
      %h2.title 会員数日本一位
      %p.message
        FURIMAは、フリマアプリで最も人気。
        <br>
        出品・購入回数も業界最多です！
        <br>
        欲しかったあの商品に出会えるかもしれません。
      .main__pic3__content__appbtn
        .main__pic3__content__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic3__content__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path
  .main__pic4
    .main__pic4__title FURIMAの特徴
    .main__pic4__features
      %section.feature
        %figure.image
        =link_to image_tag("icon-01.png",width:"220px",height:"340px"),root_path
        %h3.sub 簡単に売り買いできる
        %p.setumei スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
      %section.feature
        %figure.image
        =link_to image_tag("icon-03.png",width:"220px",height:"340px"),root_path
        %h3.sub 売上金は即日振り込みに対応
        %p.setumei 午前9時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします！
      %section.feature
        %figure.image
        =link_to image_tag("icon-04.png",width:"220px",height:"340px"),root_path
        %h3.sub 様々な支払いに対応
        %p.setumei お支払いは、クレジットだけでなく、ポイントや売上金など多彩な方法があります。
  .main__pic5
    %h2.title ピックアップカテゴリー
    .main__pic5__box
      .main__pic5__box__inner
        =link_to "#" ,class: "text" do
          %h3.title 新規投稿商品
      .main__pic5__box__lists
        -@item_images_top_last_five.each_with_index do |item_image,index|
          -if index <= 5
            .main__pic5__box__lists__list
              -if @items_last_five[index][:buyer_id].present? 
                .main__pic5__box__lists__list_photo__sold
                  .main__pic5__box__lists__list_photo__sold__inner
                    SOLD
              =link_to image_tag("#{item_image.src}",width:"220px",height:"150px"),item_path(id: item_image.item_id)
              .main__pic5__box__lists__list__name
                %h3.text 
                  =@items_last_five[index][:name]
                %h4.data
                  %ul.ul
                    %li.li 
                      =@items_last_five[index][:price]
                    %li
                    = icon('fas', 'star')
                  %p.zei (税込)
                  -# = render partial: "favorites/favorite", locals: { item: "items_last_five[index]"}
  .main__pic6
    %h2.title ピックアップブランド
    .main__pic6__box
      .main__pic6__box__inner
        =link_to "#",class:"text" do
          %h3.title アーカイバ
      .main__pic6__box__lists
        .main__pic6__box__lists__list
          =link_to "#" do
            %figure.image
            =link_to image_tag("beef.jpg",width:"220px",height:"150px"),root_path
          .main__pic6__box__lists__list__name
            %h3.text テスト
            %h4.data
              %ul.ul
                %li.li 10000円
                %li
                = icon('fas', 'star')
              %p.zei (税込)
        .main__pic6__box__lists__list
          =link_to "#" do
            %figure.image
          =link_to image_tag("moyasi.jpg",width:"220px",height:"150px"),root_path
          .main__pic6__box__lists__list__name
            %h3.text ee
            %h4.data
              %ul.ul
                %li.li 1000円
                %li
                = icon('fas', 'star')
              %p.zei (税込)
        .main__pic6__box__lists__list
          =link_to "#" do
            %figure.image
          =link_to image_tag("sishamo.png",width:"220px",height:"150px"),root_path
          .main__pic6__box__lists__list__name
            %h3.text product3
            %h4.data
              %ul.ul     
                %li.li 30000円
                %li
                = icon('fas', 'star')
              %p.zei (税込)       
        .main__pic6__box__lists__list
          =link_to "#" do
            %figure.image
          =link_to image_tag("hanpen.png",width:"220px",height:"150px"),root_path
          .main__pic6__box__lists__list__name
            %h3.text product2
            %h4.data
              %ul.ul
                %li.li 20000円
                %li
                = icon('fas', 'star')
              %p.zei (税込) 
        .main__pic6__box__lists__list
          =link_to "#" do
            %figure.image
          =link_to image_tag("kare-.png",width:"220px",height:"150px"),root_path
          .main__pic6__box__lists__list__name
            %h3.text product1
            %h4.data
              %ul.ul
                %li.li 10000円
                %li
                = icon('fas', 'star')
              %p.zei (税込)           

  .main__pic7
    .main__pic7__box
      %h2.title 誰でも簡単、人生を変えるフリマアプリ
      %p.text 今すぐ無料ダウンロード！
      .main__pic7__box__appbtn
        .main__pic7__box__appbtn__Store
          =link_to image_tag("app-store.svg",width:"180"), root_path
        .main__pic7__box__appbtn__Play
          =link_to image_tag("google-play.svg",width:"180"), root_path