
%div.main
  %div.showMain
    %div.item
      %h2.item__name
        =@items_show[0][:name]
      %div.item__body
        %ul
          %li
            -@item_images_detail.each_with_index do |item,index|
              -if index == 0
                -if @items_show[0][:buyer_id].present? 
                  .main__pic5__box__lists__list_photo__sold
                    .main__pic5__box__lists__list_photo__sold__inner
                      SOLD
                =image_tag("#{item.src}", class: '#', size: '520x346')
          %ul.item__body_image_detail
            -@item_images_detail.each_with_index do |item,index|
              -if index == 0
              -elsif index <=10 then
                %li
                  =image_tag("#{item.src}", class: '#', size: '75x75')
      %div.item__price
        %span
          ¥
          =@items_show[0][:price]
      %div.item__price__sub
        (税込) 送料込み
      %div.item__detail
        =@items_show[0][:introduction]
      %div.item__detail
      %div.table
        %table
          %tbody
          -@items_show.each do |item|
            %tr
              %th 出品者
              %td= @nickname
            %tr
              %th カテゴリー
              - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
                %td
                  = link_to "#{@category_child.name}","#"
                  %br= link_to "#{@category_grandchild.name}","#" 
              -else
                %td
                  = link_to "#{@category_parent.name}",parent_category_path(@category_parent)
                  %br= link_to "#{@category_child.name}",child_category_path(@category_child)
                  = link_to "#{@category_grandchild.name}",grandchild_category_path(@category_grandchild)
            -# %tr
            -#   %th ブランド
            -#   %td aaa
            %tr
              %th 商品のサイズ
              %td=@size
            %tr
              %th 商品の状態
              %td=@item_condition
            %tr
              %th 配送料の負担
              %td=@shipping_charge_player
            %tr
              %th 配送元の地域
              %td=@prefecture
            %tr
              %th 発送日の目安
              %td=@preparation_day 
            %tr
              %th 発送方法
              %td=@delivery_type
            = render 'favorites/favorite', item: @item
      -if current_user.present? && current_user.id == @items_show[0][:seller_id] then
        =link_to edit_item_path,"data-turbolinks": false do
          %button.purchese__btn 編集
        =link_to item_path, method: :delete do
          %button.purchese__btn 削除
      -elsif current_user.present? && @items_show[0][:buyer_id].present? == false then
        =link_to item_purchases_path(params[:id]),"data-turbolinks": false do
          %button.purchese__btn 購入画面に進む 
      -else
      %div.option
        %div.comment
          = render "comment" 
          %ul.commentContents
          - if user_signed_in?  
            = form_with model:@comment ,class:"new_comment", local: true do |f|
              = f.text_area :comment,id: "comment_body",wrap: "soft"
              = f.hidden_field :item_id, value: @items_show.ids
              %p.comment_alert
                相手のことを考え丁寧なコメントを心がけましょう。
                %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %button.purchese__btn{name: "button", type: "submit"}
                コメントする
